<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>
      <form [formGroup]="myForm">
        <div class="row">
          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" readonly>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" readonly>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Message</mat-label>
            <input matInput formControlName="message" readonly>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Tel</mat-label>
            <input matInput formControlName="phone" readonly>
          </mat-form-field>
        </div>
      </form>
      <!-- {{myForm.value | json}} -->
    </div>

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">Retour</button>
    </div>
  </div>
</div>