<div class="mb-5">

  <form [formGroup]="myForm">
    <div class="row">

      <mat-form-field appearance="fill" class="col-md-12">
        <mat-label>title</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6">
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6">
        <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date" formControlName="end">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
      </mat-form-field>

    </div>
  </form>

  <button mat-raised-button (click)="submit(myForm.value)" [disabled]="myForm.invalid">Valider</button>
</div>

<app-calendar [dateChange]="dateChange" [handleEvents]="handleEvents" [myEvent]="myEvent" [myEvents]="myEvents">
</app-calendar>
