<div class="m-1">
  <mat-card class="col-md-12">
    <div class="d-flex justify-content-between">
      <span>{{ discussionObj.otheruser.nom}}</span>
      <!-- <span>{{e.date | date : "dd-MM-yyyy"}}</span> -->
    </div>
  </mat-card>
</div>

<!-- <div class="col-md-12">
  <mat-card *ngFor="let e of list; let i=index" class=" m-1">
    <div class="d-flex justify-content-between">
      <span>{{e.message}}</span>
      <span>{{e.date | date : "dd-MM-yyyy"}}</span>
    </div>
  </mat-card>
</div> -->

<section class="col-md-12" *ngIf="discussionObj.id !== 0">
  <div class="chat mt-2" #scrollMe>
    <mat-card *ngFor="let e of list; let i=index" class="mb-2"
      [ngClass]="{'ml': isYou(e.idOtherUser), 'mr': !isYou(e.idOtherUser)}">

      <p>{{e.message}}</p>

      <div class="d-flex flex-row-reverse align-items-center w-100" style="font-size: .8em; font-style: italic;">
        <span class="text-muted">{{e.date | date : "dd/MM/yyyy HH:mm"}}</span>
        <span class="text-muted">{{isYou(e.idOtherUser) ? session.user.prenom + ' ' + session.user.nom : e.otherUserName}} -
        </span>
      </div>

      <!-- {{displayName(userToSend)}} -->
      <!-- {{e | json}} -->
    </mat-card>
  </div>

  <form [formGroup]="myFormMessage">
    <mat-form-field appearance="fill" class="col-md-12">
      <mat-label>Message</mat-label>
      <input matInput formControlName="message">
      <button mat-icon-button matSuffix [disabled]="myFormMessage.invalid"
        (click)="send(myFormMessage.value)">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>

    <!-- {{discussionObj | json}} -->
    <!-- {{myFormMessage.value | json}} -->
  </form>

</section>
