.footer {
    color: #a3b1be;
    background-color: #7e20e6;
    // padding: 0 3rem 1rem 3rem;
    position: relative;
    z-index: 2;
    &::before {
        clip-path: polygon(56% 0, 100% 21%, 100% 100%, 0 100%, 0 0);
        position: absolute;
        content: '';
        // z-index: 1;
        background-color:  #5711a5;
        height: 100%;
        width: 100%;
    }
    // height: 40vh;
    // .images {
    //     img {
    //         width: 120px;
    //         height: 90px;
    //         padding: 2px;

    //         @media screen and (max-width: 600px) {
    //             width: 100px;
    //             height: 90px;
    //         }
    //     }


    // }
}


.last {
    // height: 50px;
    background-color: #4d1290;
    color: #bdbdbd;

    a {
        color: #bdbdbd;
        &:hover {
            color: white;
        }
    }
}


