// Fonts


// Variables
@import 'master';
@import 'navone';
@import 'footer';
@import 'page/elevation';

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23096f45' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23096f45' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card {
    border: none;
    border-radius: 0;
    z-index: 1;
}

@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5711a5;
    border-color: #5711a5;
}

.page-link {
    color: #5711a5;
}

.btn-outline-secondary {
    color: #5711a5;
    border-color: #5711a5;

    &:hover {
        color: #fff;
        background-color: #5711a5;
        border-color: #5711a5;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #5611a59a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #5611a569;
}
