<mat-tab-group #matTab class="mat-elevation-z4" (selectedTabChange)="selectedTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="mx-2">school</mat-icon> {{title}}</ng-template>
    <div class="row my-3 mx-2">


      <form [formGroup]="myForm">
        <mat-form-field appearance="fill" class="col-md-4">
          <mat-label>nom</mat-label>
          <input matInput formControlName="nom" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-4">
          <mat-label>nom Ar</mat-label>
          <input matInput formControlName="nomAr" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-4">
          <mat-label>Cycle</mat-label>
          <mat-select formControlName="idCycle">
            <mat-option *ngFor="let e of cycles | async" [value]="e.id">
              {{ e.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-3">
          <mat-label>coursLigneGroupe</mat-label>
          <input matInput formControlName="coursLigneGroupe" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-3">
          <mat-label>coursLigneIndividuel</mat-label>
          <input matInput formControlName="coursLigneIndividuel" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-3">
          <mat-label>coursDomicileGroupe</mat-label>
          <input matInput formControlName="coursDomicileGroupe" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-3">
          <mat-label>coursDomicileIndividuel</mat-label>
          <input matInput formControlName="coursDomicileIndividuel" required>
        </mat-form-field>

      </form>
      <!-- <button mat-button>Ok</button> -->
      <button class="mx-3 mb-2" mat-raised-button color="accent" [disabled]="myForm.invalid" type="submit"
        (click)="submit(myForm.value)">Valider</button>
    </div>
  </mat-tab>

  <mat-tab [disabled]="o.id === 0">
    <ng-template mat-tab-label> <mat-icon class="mx-2">import_contacts</mat-icon> Cours</ng-template>
    <app-cours [parentObs]="parentObs" (tabChange)="matTab.selectedIndex = +$event"></app-cours>
  </mat-tab>

  <mat-tab  [disabled]="coursObs.idCours === 0">
    <ng-template mat-tab-label> <mat-icon class="mx-2">receipt_long</mat-icon> Quizz</ng-template>

    <app-quiz [contextObs]="coursObs.coursObs"></app-quiz>
  </mat-tab>
</mat-tab-group>
