<section class="contact mx-2  bg-white">
  <div class="{{ 'fr' == 'fr' ? 'text-left container px-0' : 'text-right container px-0' }}">
    <div class="d-flex flex-wrap justify-content-center align-items-center mat-elevation-z20 bg-white p-2"
      style="margin: 100px 0">
      <div class="col-md-5">
        <h1 class="font-weight-bolder mb-5 text-purple" style="font-size: 3em">Contactez-nous</h1>

        <form id="myForm">
          <div class="row d-flex flex-column align-items-center fade show">

            <div id="toaster">

            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>@lang('page.Nom')</label>
                <input name="name" type="text" class="form-control">
              </div>

              <div class="form-group">
                <label>@lang('page.Email')</label>
                <input name="email" type="email" class="form-control" required>
              </div>

              <div class="form-group">
                <label>@lang('page.Tel')</label>
                <input name="phone" type="text" class="form-control">
              </div>

              <div class="form-group">
                <label>@lang('page.Message')</label>
                <textarea name="message" class="form-control" rows="3" required></textarea>
              </div>
              <div class="d-flex flex-row-reverse mt-2">
                <button type="submit" class="btn btn-purple"
                  style="width: 100px; border-radius: 0%;">Envoyer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-7 p-0">
        <img src="/assets/home/contact.png" style="width: 100%">
      </div>
    </div>

    <!-- <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 mb-3">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <div class="card">
          <iframe style="height: 50vh" src="https://maps.google.com/maps?q=temara&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>
        </div>
      </div>
    </div> -->

  </div>
</section>
