<mat-toolbar color="warn" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button (click)="snav.toggle()" routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/admin']" routerLinkActive="active">App name</span>
    <a class="ml-3 mat-raised-button mat-button-base" [href]="url" target="_blank" rel="noopener noreferrer">Vers le site</a>
    <!-- <button mat-raised-button class="ml-5" [routerLink]="['/desktop']">Systeme-info</button> -->
    <span style="flex: 1 1 auto;"></span>

    <button mat-button [matMenuTriggerFor]="beforeMenu">
      {{profile.name}} <b>({{profile.role}})</b>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/admin/dash/me']" routerLinkActive="router-link" >Info Compte</button>
      <button mat-menu-item (click)="disconnect()">Se déconnecter</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!--  -->
<mat-sidenav-container #sidenav class="example-sidenav-container" style=" z-index: 9; height: 100vh;">
  <mat-sidenav #snav [mode]="isMobileWidth ? 'push' : 'side'" [opened]="!isMobileWidth" [fixedInViewport]="true"
    fixedTopGap="49.9">
    <mat-nav-list class="list" style="width: 220px; padding: 0;">
      <div class="logo p-3">
        <img src="assets/404.jpg" alt="mourabit mohamed" width="100%">
      </div>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/admin/dash']" routerLinkActive="router-active">
        <span>Dash</span>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-accordion>
        <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Paramétrage
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list-item [routerLink]="['/admin/user']" routerLinkActive="router-active">
            <mat-icon>code</mat-icon>&nbsp;<span>....</span>
            <mat-divider></mat-divider>
          </mat-list-item>

        </mat-expansion-panel> -->

        <mat-expansion-panel [expanded]="actuelRoute.includes('settings')" [ngClass]="{'router-link-active': actuelRoute.includes('settings') }"
          (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class=" titleDomaine">
              Paramétrage
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list-item [routerLink]="['/admin/settings/activite']" routerLinkActive="router-active">
            <span>Activites</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <!-- <mat-list-item [routerLink]="['/admin/settings/prof']" routerLinkActive="router-active">
            <span>Profs</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item [routerLink]="['/admin/settings/student']" routerLinkActive="router-active">
            <span>Students</span>
            <mat-divider></mat-divider>
          </mat-list-item> -->
          <!-- <mat-list-item [routerLink]="['/admin/settings/message']" routerLinkActive="router-active">
            <span>Messages</span>
            <mat-divider></mat-divider>
          </mat-list-item> -->
          <mat-list-item [routerLink]="['/admin/settings/contactUs']" routerLinkActive="router-active">
            <span>Contact Nous</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/user']" routerLinkActive="router-active">
            <span>Users</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item [routerLink]="['/admin/settings/ville']" routerLinkActive="router-active">
            <span>Villes</span>
            <mat-divider></mat-divider>
          </mat-list-item>
          <!-- <mat-list-item [routerLink]="['/admin/settings/detailUserActivite']" routerLinkActive="router-active">
            <span>DetailUserActivites</span>
            <mat-divider></mat-divider>
          </mat-list-item> -->
          <mat-list-item [routerLink]="['/admin/settings/typeActivite']" routerLinkActive="router-active">
            <span>Type Activites</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/typeCours']" routerLinkActive="router-active">
            <span>Type Cours</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/lieuCours']" routerLinkActive="router-active">
            <span>lieu Cours</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/niveauScolaire']" routerLinkActive="router-active">
            <span>Niveau Scolaires</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/branche']" routerLinkActive="router-active">
            <span>Branche</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/video']" routerLinkActive="router-active">
            <span>Video</span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/settings/offreProf']" routerLinkActive="router-active">
            <span>offre Prof</span>
            <mat-divider></mat-divider>
          </mat-list-item>


        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main [@routeAnimations]="prepareRoute(o)" style="margin-top: 65px;">
      <div class="ml-3 mr-3 mb-5">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
