<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <mat-dialog-content style="overflow-x: hidden;">

      <form [formGroup]="myForm">
        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>nom</mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>nomAr</mat-label>
          <input matInput formControlName="nomAr">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>filesUrl</mat-label>
          <input matInput formControlName="filesUrl">
        </mat-form-field> -->

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>branches</mat-label>
          <mat-select formControlName="idBranche">
            <mat-option *ngFor="let e of branches | async" [value]="e.id">{{ e.nom }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>Semester</mat-label>
          <mat-select formControlName="semester">
            <mat-option *ngFor="let e of [1, 2]" [value]="e">S {{ e }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- {{myForm.value | json}} -->
      </form>
      <mat-divider>
      </mat-divider>
      <div class="row mt-3">
        <div class="col-md-6 mt-2 mb-2">

          <div *ngFor="let e of videosUrls.controls; index as i;">
            <div class="">
              <mat-form-field appearance="fill" class="col-md-10">
                <mat-label>Video {{ i+1 }}</mat-label>
                <input matInput [formControl]="videosUrls.controls[i]">
              </mat-form-field>
              <button *ngIf="i > 0" mat-icon-button (click)="videosUrls.removeAt(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <button class="ml-3" mat-raised-button type="button" (click)="add()">
            <mat-icon>add</mat-icon> Video
          </button>
        </div>

        <div class="col-md-6 p-0">
          <app-upload nameBtn="Upload les docs" [config]="config"></app-upload>
        </div>
      </div>




      <!-- {{videosUrls.value | json}} -->
      <!-- {{myForm.value | json}} -->

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()" type="button">Annuler</button>
      <button mat-raised-button color="primary" (click)="onOkClick(myForm.value)"
        [disabled]="myForm.invalid" cdkFocusInitial>Enregistre</button>
    </mat-dialog-actions>
  </div>
</div>
