
<div class="d-flex">

  <mat-form-field appearance="fill" class="col-md-6">
    <mat-label>{{name}}</mat-label>
    <input matInput [matDatepicker]="picker0" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
    <mat-datepicker #picker0></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-md-6">
    <mat-label>{{name}} time</mat-label>
    <input matInput type="time" [formControl]="time" required>
  </mat-form-field>


</div>
<!-- {{date.value}} - {{time.value}} -->
