.planification {
    @media (max-width: 767px) {
        .hidden-xs {
            display: none !important;
        }
    }

    @media screen and (min-width: 768px) {
        .modal-dialog-xs-width {
            width: 50%;
            /* either % (e.g. 60%) or px (400px) */
        }
        .modal-dialog-sm-width {
            width: 60%;
            /* either % (e.g. 60%) or px (400px) */
        }
        .modal-dialog-md-width {
            width: 70%;
            /* either % (e.g. 60%) or px (400px) */
        }
        .modal-dialog-lg-width {
            width: 80%;
            /* either % (e.g. 60%) or px (400px) */
        }
    }
    .agency-marker {
        cursor: pointer;
    }
    .agency-marker:hover {
        fill: #ab009d !important;
        stroke: #f0f0f0 !important;
        stroke-width: 2px !important;
        transition: all 0.5s;
    }
    #map {
        // width: 100%;
        // height: 744px;
    }

    // @media screen and (max-width: 768px) {
    //     #map {
    //         width: 744px;
    //     }
    // }
    #map-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    // .modal-open .modal.modal-fixed-width {
    //     overflow-y: scroll;
    // }
}
