.mywith {
  @media screen and (max-width: 600px) {
    width: 35rem;
  }

  width: 80vw;
}

h3 {
  text-decoration: underline;
  font-weight: bold;
}

.activite {
  font-style: italic;
  font-weight: bold;
}
