<form [formGroup]="myForm">

    <div class="">

        <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>{{ 'admin.dash.contactus.Objet' | translate  }}</mat-label>
            <input matInput formControlName="object">
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-12">
            <mat-label>{{ 'admin.dash.contactus.Message' | translate  }}</mat-label>
            <textarea rows="5" matInput formControlName="msg"></textarea>
        </mat-form-field>

        {{myForm.value | json}}
        <button class="col-md-12 mb-2" mat-raised-button color="accent"
            [disabled]="myForm.invalid"
            (click)="submit(myForm.value)">{{ 'admin.Valider' | translate  }}</button>
    </div>

</form>