<div class="row">
    <div class="col-md-5">
        <img #img (error)="imgError(img)" [src]="displayImage(user.imageUrl)" style="width: 170px; height: 170px;">

        <div *ngIf="session.isProf">
            <p>Intro : {{prof?.intro}}</p>
        </div>

        <p>{{user.nom}} {{user.prenom}}</p>
        <p>{{user.email}}</p>
        <p>{{user.tel1}}</p>
        <p>{{user.tel2}}</p>
        <p>{{user.adresse}}</p>

    </div>

    <div class="col-md-7">

        <div class="col-md-12 p-0" *ngIf="session.isProf">
            <button mat-raised-button class="col-md-10 p-2 m-2" (click)="openLink(lien.value)">Lien
                visioconférence</button>

            <button mat-mini-fab color="primary" class="col-md-2" (click)="hideImput = !hideImput">
                <mat-icon>create</mat-icon>
            </button>

            <mat-form-field appearance="fill" class="col-md-12" *ngIf="!hideImput">
                <mat-label>Lien</mat-label>
                <input matInput [formControl]="lien">
                <button mat-icon-button matSuffix (click)="updateLink(lien.value)">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </div>



        <button mat-raised-button disabled class="col-md-12 p-2 m-2"
            [routerLink]="['/admin/dash/contactus']">Message</button>
        <button mat-raised-button class="col-md-12 p-2 m-2" [routerLink]="['/admin/dash/calendar']">Calandrie</button>
        <button mat-raised-button disabled class="col-md-12 p-2 m-2"
            [routerLink]="['/admin/dash/contactus']">Cours</button>
        <button mat-raised-button class="col-md-12 p-2 m-2" [routerLink]="['/admin/dash/info']">Informations</button>
        <button mat-raised-button disabled class="col-md-12 p-2 m-2"
            [routerLink]="['/admin/dash/contactus']">Facteurs</button>

        <!-- <button mat-raised-button class="m-2" color="warn">{{ 'admin.dash.me.LienCours' | translate  }}</button>
        <button mat-raised-button class="m-2" color="warn">{{ 'admin.dash.me.Message' | translate  }}</button>
        <button mat-raised-button class="m-2" color="warn">{{ 'admin.dash.me.Calandrie' | translate  }}</button>
        <button mat-raised-button class="m-2" color="warn">{{ 'admin.dash.me.Cours' | translate  }}</button>
        <button mat-raised-button class="m-2" color="warn">{{ 'admin.dash.me.Informations' | translate  }}</button>
        <button mat-raised-button class="m-2" color="warn">{{ 'admin.dash.me.Facteurs' | translate  }}</button> -->
    </div>
</div>
