  <div>
    <div>
      <div>
        <div style="display: block">
          <h5 style="text-align: center; margin:0; padding-top: 10px; color: gray;">{{title}}</h5>
          <h5 class="XChart">{{X}}</h5>
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)" [colors]="barChartColors"></canvas>
        </div>
        <h5 class="YChart">{{Y}}</h5>
        <button class="m-1" mat-mini-fab color="accent" (click)="randomize()"><mat-icon>compare_arrows</mat-icon></button>
      </div>
    </div>
  </div>
