
<div id="demo" class="carousel slide" data-ride="carousel" style="height: 50vh;">
  <div class="carousel-inner" >
    <div class="carousel-item" *ngFor="let item of items; let i=index" [ngClass]="{'active': i === 0}" >
      <img [src]="item.imageUrl" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>{{item.index}} {{item.titre}}</h3>
      </div>   
    </div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>