<div class="row justify-content-center align-items-center w-100" style="height: 100vh;">
    <mat-card class="mat-elevation-z8 w-100">
      <app-theme></app-theme>
        <div class="row py-4 px-2">
            <div class="col-md-6 myselect mat-elevation-z1" [routerLink]="['/auth/create/prof']">
              <h2 class="mytitle">Professeur</h2>
              <img src="assets/prof.png" alt="" style="width: 100%;">
          </div>

          <div class="col-md-6 myselect mat-elevation-z1" [routerLink]="['/auth/create/student']">
            <h2 class="mytitle">Etudiant</h2>
              <img src="assets/student.png" alt="" style="width: 90%;">
          </div>
        </div>

        <mat-divider>
        </mat-divider>
        <div class="row justify-content-between py-4 px-2">
          <button class="col-md-4" mat-raised-button color="primary" [routerLink]="['/auth']"
          type="submit">Connexion</button>



          <button class="col-md-4" mat-raised-button color="accent" [routerLink]="['/auth/login']" >Retour</button>
        </div>


    </mat-card>



</div>
