<!-- <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
  <mat-card-content class="d-flex flex-column justify-content-center align-items-center">

    <h1>Bienvenue</h1> 

    <div class="">

      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>{{ 'auth.create.Nom| translate'  }}</mat-label>
        <input matInput formControlName="nom">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>{{ 'auth.create.Prenom| translate'  }}</mat-label>
        <input matInput formControlName="prenom">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let e of ['teacher', 'student']" [value]="e">{{ e }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>{{ 'auth.create.Email| translate'  }}</mat-label>
        <input matInput formControlName="email" placeholder="Email address">
        <mat-error *ngIf="emailError">{{ 'auth.create.EmailnonValide| translate'  }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>{{ 'auth.create.Password| translate'  }}</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="passwordError">{{passwordError}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-6 mb-4">
        <mat-label>{{ 'auth.create.Répéterlemotdepass| translate'  }}</mat-label>
        <input matInput [formControl]="checkPassword" placeholder="Répéter le mot de pass"
          [type]="hide2 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="checkPassword.touched && checkPasswordError">{{checkPasswordError}}</mat-error>
      </mat-form-field>
      {{myForm.value | json}}
      <button class="col-md-12 mb-2" mat-raised-button color="accent"
        [disabled]="myForm.invalid || checkPasswordError !== ''" type="submit">{{ 'auth.create.Inscription| translate'  }}</button>


      <button class="col-md-12" [routerLink]="['/auth/login']" mat-raised-button color="primary" type="button">
        {{ 'auth.create.Connexion| translate'  }}</button>


    </div>
  </mat-card-content>
</form> -->

<router-outlet></router-outlet>
